{% extends 'back_base.html.twig' %}

{% block title %}Edit Vehicle{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Edit Vehicle</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.type) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.capacite) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                {{ form_row(form.statut) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_row(form.dispo) }}
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Save Changes
                            </button>
                            <a href="{{ path('vehicule_index') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Back to list
                            </a>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 